# Build artifacts
emergency-auth-code-api
emergency-auth-code-api-*.zip
build.log

# Test output
test.xml

# Lint output
lint.txt

# GoLand files
.idea/

# Mac files
.DS_Store
._*

# Test Coverage Output
coverage.out

# vs code
.vscode/

